<div class="side-bar-container">
    <div class="btn-toggle-side-bar" [ngClass]="sideBarToggled" (click)="handleClickSideBarToggle()"
        (mouseenter)="handleMouseEnterSideBarToggle()" (mouseleave)="handleMouseLeaveSideBarToggle()">
        <i class="fas fa-bars"></i>
    </div>
    <aside class="management-side-bar" [ngClass]=sideBarToggled (mouseenter)="handleMouseEnterSideBar()"
        (mouseleave)="handleMouseLeaveSideBar()">
        <ul>
            <li *ngFor="let item of sideBarItems">
                <div [ngClass]="{'category-button': true, 'active': item.active}" (click)="handleNavigate(item.path)">
                    {{item.name}}
                </div>
            </li>
        </ul>
    </aside>
</div>