.account-update-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 600px;
}

.account-update-form form {
    display: flex;
    flex-direction: column;
}

form .form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: auto;
}

.account-update-form .form-col {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.account-update-form .form-col:first-child {
    margin-right: 40px;
}

.account-update-form .form-col label {
    margin-bottom: 8px;
}

.account-update-form .form-col input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
}

.form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}

.form-actions .confirm-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
}

.form-actions .cancel-button {
    background-color: #4d4d4d;
    color: #333;
    border: none;
    border-radius: 4px;
}