.account-update-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    width: 50dvw;
}

.account-update-form form {
    display: flex;
    flex-direction: column;
}

.form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

button {
    padding: 8px 16px;
    cursor: pointer;
}