.teacher-page {
    display: flex;
    height: auto;
    background-color: #f0f0f0;
  }
  
  .management-content {
    flex: 1;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  
  @media screen and (min-width: 1200px) {
    .management-content {
      padding-top: 0;
    }
  }
  