.dialog-container {
  display: flex;
  flex-direction: column;
  height: 30dvh;
  width: 30dvw;

  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  padding: 20px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.delete-actions {
  display: flex;
  justify-content: flex-end;
}

.delete-actions button {
  padding: 12px 24px;
  cursor: pointer;
  margin: 0px 40px;
  font-size: large;
}

.delete-actions .confirm-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
}

.delete-actions .cancel-button {
  background-color: #4CAF50;
  color: #333;
  border: none;
  border-radius: 4px;
}