.management-side-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: var(--dark-primary-background-color);
}

.management-side-bar .category-button {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

    color: var(--dark-primary-text-color);
    text-decoration: none;
    font-size: 18px;
    text-align: start;
}

.management-side-bar .category-button.active,
.management-side-bar .category-button.active:hover {
    background-color: #233950;
    color: #0866ff;
}

.management-side-bar .category-button:hover {
    background-color: #3a3b3c;
    color: white;
}

.management-side-bar ul {
    padding-inline-start: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.management-side-bar li {
    width: 100%;
    margin-bottom: 20px;
}

.management-side-bar a:hover {
    text-decoration: underline;
}