<aside class="management-side-bar">
    <ul>
        <li>
            <div class="category-button active" (click)="handleClick()">
                User Management
            </div>
        </li>
        <li>
            <div class="category-button" (click)="handleClick()">
                Product Management
            </div>
        </li>
        <li>
            <div class="category-button" (click)="handleClick()">
                Order Management
            </div>
        </li>
        <li>
            <div class="category-button" (click)="handleClick()">
                Service Management
            </div>
        </li>
        <!-- Thêm các danh mục khác -->
    </ul>
</aside>