.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header header"
    "menu class-list";
}

.header {
  grid-area: header;
  background-color: #e0e4ff;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.menu {
  grid-area: menu;
  background-color: #f0f4ff;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.class-list {
  grid-area: class-list;
  background-color: #cce6ff;
  padding: 20px;
}

.title {
  color: #4040ff;
  text-align: center;
  margin-bottom: 20px;
}

.class-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}

.class-card {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.class-card h3 {
  color: #4040ff;
  font-size: 16px;
}

.class-card p {
  margin: 5px 0;
  color: #333;
}

.class-card:hover {
  background-color: #e0e4ff;
}
