<div class="class-management-panel">
  <div class="search-bar">
    <input type="text" placeholder="Search user..." (input)="onSearch($event)" />
    <div class="actions">
      <button (click)="handleOpenAddLopForm()">Add New Lop</button>
    </div>
  </div>
  <h2>Thông tin lớp học</h2>
  <table class="class-management-table phu-huynh-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Tên lớp</th>
        <th>Tên giáo viên</th>
        <th>Tên phòng</th>
        <th>Vị trí</th>
        <th>Nhóm lớp</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!isLoading; else loadingTemplate">
        <tr *ngFor="let lop of filtered_list_lop">
          <td>{{ lop.id }}</td>
          <td>{{ lop.tenLop }}</td>
          <td>{{ lop.thongTinGiaoVien?.hoTen }}</td>
          <td>{{ lop.tenPhong }}</td>
          <td>{{ lop.viTri }}</td>
          <td>{{ lop.nhomLop?.tenNhom }}</td>
          <td>
            <button (click)="handleOpenUpdateLopForm(lop)">Edit</button>
            <button (click)="handleOpenDeleteLopConfirmation(lop)">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="page-navigator">
    <button class="prev" [disabled]="currentPage === 1" (click)="prevClassesPage()">Prev</button>
    <span>{{ currentPage}}/{{totalPage}}</span>
    <button class="next" [disabled]="currentPage >= totalPage" (click)="nextClassesPage()">Next</button>
  </div>

  <div *ngIf="openUpdateLopForm" class="overlay">
    <app-class-update-form [selectedLop]="selectedLop" (closeForm)="closeForm()" (saveLop)="handleUpdateLop($event)" />
  </div>

  <div *ngIf="openAddLopForm" class="overlay">
    <app-class-add-new-form (closeForm)="closeForm()" (saveLop)="handleSaveNewLop($event)" />
  </div>

  <div *ngIf="openDeleteConfirmationDialog" class="overlay">
    <app-class-delete-confirmation-dialog (closeDialog)="closeForm()" (deleteLop)="handleDeleteLop()" />
  </div>

</div>

<!-- Loading Template -->
<ng-template #loadingTemplate>
  <tr>
    <td colspan="7">
      <div class="loading-container">
        <div class="loading"></div>
      </div>
    </td>
  </tr>
</ng-template>
