<div class="flex flex-col p-5 bg-gray-100 rounded-lg shadow-md mx-auto font-sans">
  <div class="flex justify-between flex-wrap mb-5">
    <input
      class="w-full p-2 border border-gray-300 rounded-lg focus:border-blue-500 focus:ring focus:ring-blue-200 transition duration-200 ease-in-out"
      type="text" placeholder="Search user..." (input)="onSearch($event)" />
    <div class="flex justify-end w-full">
      <button
        class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 hover:scale-105 transition-transform duration-200"
        (click)="handleOpenAddAccountForm()">Thêm tài khoản mới</button>
    </div>
  </div>

  <h2 class="text-2xl mb-5 text-gray-800">Tài khoản phụ huynh</h2>
  <table class="w-full mb-5 border-collapse bg-white rounded-lg overflow-hidden shadow">
    <thead>
      <tr>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Tên tài
          khoản</th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Họ tên Cha
        </th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Họ tên Mẹ
        </th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">SĐT Cha
        </th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">SĐT Mẹ
        </th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Email Cha
        </th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Email Mẹ
        </th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Địa chỉ
        </th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Hành động
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!isLoading; else loadingPhuHuynhTemplate">
        <tr *ngFor="let user of phuHuynhAccounts" class="hover:bg-gray-200 transition duration-200">
          <td class="p-3 border border-gray-300 text-center" data-label="Tên tài khoản">{{ user.username }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="Họ tên Cha">{{ user.phuHuynh?.hoTenCha }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="Họ tên mẹ">{{ user.phuHuynh?.hoTenMe }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="SĐT Cha">{{ user.phuHuynh?.sdtCha }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="SĐT Mẹ">{{ user.phuHuynh?.sdtMe }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="Email Cha">{{ user.phuHuynh?.emailCha }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="Email Mẹ">{{ user.phuHuynh?.emailMe }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="Địa chỉ">{{ user.phuHuynh?.diaChi }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="Hành động">
            <button
              class="bg-yellow-500 text-white px-2 py-1 rounded hover:bg-yellow-600 hover:scale-105 transition-transform duration-200"
              (click)="handleOpenUpdateAccountForm(user)">Edit</button>
            <span class="mx-2">|</span>
            <button
              class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600 hover:scale-105 transition-transform duration-200"
              (click)="handleOpenDeleteAccountConfirmation(user)">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div class="page-navigator flex justify-between items-center mt-5">
    <button
      class="prev bg-blue-500 text-white py-2 px-4 rounded disabled:bg-gray-300 disabled:cursor-not-allowed hover:bg-blue-700 transition-colors duration-200"
      [disabled]="currentPhuHuynhAccountsPage === 1"
      (click)="handlePhuHuynhPageChange(currentPhuHuynhAccountsPage - 1)">
      Prev
    </button>
    <span class="text-gray-800 text-lg">{{ currentPhuHuynhAccountsPage }}/{{ totalPhuHuynhAccountsPage }}</span>
    <button
      class="next bg-blue-500 text-white py-2 px-4 rounded disabled:bg-gray-300 disabled:cursor-not-allowed hover:bg-blue-700 transition-colors duration-200"
      [disabled]="currentPhuHuynhAccountsPage >= totalPhuHuynhAccountsPage"
      (click)="handlePhuHuynhPageChange(currentPhuHuynhAccountsPage + 1)">
      Next
    </button>
  </div>

  <h2 class="text-2xl mb-5 text-gray-800">Tài khoản giáo viên</h2>
  <table class="w-full mb-5 border-collapse bg-white rounded-lg overflow-hidden shadow">
    <thead>
      <tr>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Tên tài
          khoản</th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Họ tên
        </th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Giới tính
        </th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Số ĐT</th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Địa chỉ
        </th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Chuyên môn
        </th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Email</th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Ảnh</th>
        <th class="p-3 border border-gray-300 bg-blue-500 text-white uppercase text-sm font-bold text-center">Hành động
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!isLoading; else loadingGiaoVienTemplate">
        <tr *ngFor="let user of giaoVienAccounts" class="hover:bg-gray-200 transition duration-200">
          <td class="p-3 border border-gray-300 text-center" data-label="Tên tài khoản">{{ user.username }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="Họ và tên">{{ user.giaoVien?.hoTen }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="Giới tính">{{ user.giaoVien?.gioiTinh }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="Số điện thoại">{{ user.giaoVien?.soDienThoai }}
          </td>
          <td class="p-3 border border-gray-300 text-center" data-label="Địa chỉ">{{ user.giaoVien?.diaChi }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="Chuyên môn">{{ user.giaoVien?.chuyenMon }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="Email">{{ user.giaoVien?.email }}</td>
          <td class="p-3 border border-gray-300 text-center" data-label="Ảnh">
            <div class="w-24 h-24 overflow-hidden rounded-full border">
              <img class="w-full h-full object-cover" [src]="user.giaoVien?.anh" alt="avatar" />
            </div>
          </td>
          <td class="p-3 border border-gray-300" data-label="Hành động">
            <button
              class="bg-yellow-500 text-white px-2 py-1 rounded hover:bg-yellow-600 hover:scale-105 transition-transform duration-200"
              (click)="handleOpenUpdateAccountForm(user)">Edit</button>
            <span class="mx-2">|</span>
            <button
              class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600 hover:scale-105 transition-transform duration-200"
              (click)="handleOpenDeleteAccountConfirmation(user)">Delete</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>



  <div class="page-navigator flex justify-between items-center mt-5">
    <button
      class="prev bg-blue-500 text-white py-2 px-4 rounded disabled:bg-gray-300 disabled:cursor-not-allowed hover:bg-blue-700 transition-colors duration-200"
      [disabled]="currentGiaoVienAccountsPage === 1"
      (click)="handleGiaoVienPageChange(currentGiaoVienAccountsPage - 1)">
      Prev
    </button>
    <span class="text-gray-800 text-lg">{{ currentGiaoVienAccountsPage }}/{{ totalGiaoVienAccountsPage }}</span>
    <button
      class="next bg-blue-500 text-white py-2 px-4 rounded disabled:bg-gray-300 disabled:cursor-not-allowed hover:bg-blue-700 transition-colors duration-200"
      [disabled]="currentGiaoVienAccountsPage >= totalGiaoVienAccountsPage"
      (click)="handleGiaoVienPageChange(currentGiaoVienAccountsPage + 1)">
      Next
    </button>
  </div>

  <ng-template #loadingPhuHuynhTemplate>
    <tr>
      <td colspan="9" class="p-5">
        <div class="loading-container flex justify-center items-center">
          <div class="loading w-12 h-12 border-4 border-gray-300 border-t-blue-500 rounded-full animate-spin"></div>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template #loadingGiaoVienTemplate>
    <tr>
      <td colspan="9" class="p-5">
        <div class="loading-container flex justify-center items-center">
          <div class="loading w-12 h-12 border-4 border-gray-300 border-t-blue-500 rounded-full animate-spin"></div>
        </div>
      </td>
    </tr>
  </ng-template>

  <!-- Overlay Components -->
  <div *ngIf="openAddAccountForm"
    class="overlay fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <app-account-add-new-form (closeForm)="closeForm()"
      (saveAccount)="handleSaveNewAccount($event)"></app-account-add-new-form>
  </div>

  <div *ngIf="openUpdateAccountForm"
    class="overlay fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <app-account-update-form [account]="selectedAccount" (closeForm)="closeForm()"
      (saveAccount)="handleUpdateAccount($event)"></app-account-update-form>
  </div>

  <div *ngIf="openDeleteConfirmationDialog"
    class="overlay fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
    <app-account-delete-confirmation-dialog (closeDialog)="closeForm()"
      (deleteAccount)="handleDeleteAccount()"></app-account-delete-confirmation-dialog>
  </div>
</div>
