<div class="container">
    <h2 class="title">Thông Tin Giáo Viên</h2>
  
    <div class="search-container">
      <input type="text" [(ngModel)]="searchInput" placeholder="Nhập ID của trẻ để tìm giáo viên" />
      <button (click)="searchTeacher()">Tìm Kiếm</button>
    </div>
  
    <div *ngIf="thongTinGiaoVien; else noDataTemplate">
      <div class="teacher-card">
        <img [src]="thongTinGiaoVien.anh || 'path_to_default_image.jpg'" alt="{{thongTinGiaoVien.hoTen}}" style="width: 100px; height: auto;" />
        <h3>{{ thongTinGiaoVien.hoTen }}</h3>
        <div class="teacher-info">
          <p><strong>ID:</strong> {{thongTinGiaoVien.id}}</p>
          <p><strong>Giới Tính:</strong> {{thongTinGiaoVien.gioiTinh}}</p>
          <p><strong>Số Điện Thoại:</strong> {{thongTinGiaoVien.soDienThoai}}</p>
          <p *ngIf="thongTinGiaoVien.diaChi"><strong>Địa Chỉ:</strong> {{thongTinGiaoVien.diaChi}}</p>
          <p *ngIf="thongTinGiaoVien.chuyenMon"><strong>Chuyên Môn:</strong> {{thongTinGiaoVien.chuyenMon}}</p>
          <p><strong>Email:</strong> {{thongTinGiaoVien.email}}</p>
        </div>
      </div>
    </div>
  
    <ng-template #noDataTemplate>
      <div class="no-data">
        <p>Không có dữ liệu giáo viên.</p>
        <div class="teacher-card" style="text-align: left;">
          <img src="path_to_default_image.jpg" alt="Ảnh mặc định" style="width: 100px; height: auto;" />
          <p><strong>Họ tên:</strong> N/A</p>
          <p><strong>Giới tính:</strong> N/A</p>
          <p><strong>Số Điện Thoại:</strong> N/A</p>
          <p><strong>Chuyên Môn:</strong> N/A</p>
          <p><strong>Email:</strong> N/A</p>
        </div>
      </div>
    </ng-template>
</div>
