<div class="feedback-container">
  <div class="header">Quản lý học sinh</div>

  <div class="content">
    <div class="menu-container">
      <button class="menu-item" (click)="navigateTo('/phuhuynh/feedback')">Ý kiến</button>
      <button class="menu-item" (click)="navigateTo('/phuhuynh/school-fee/view-schoolfee')">Xem học phí</button>
      <button class="menu-item" (click)="navigateTo('/phuhuynh/school-fee/pay')">Thanh toán</button>
      <button class="menu-item" (click)="navigateTo('/phuhuynh/roll-call')">Điểm danh</button>
    </div>

    <div class="feedback-form">
      <div class="form-header">Phản hồi</div>

      <div class="form-group">
        <button class="icon-button">📁</button>
        <input type="text" placeholder="Chủ đề bạn quan tâm" />
      </div>

      <div class="form-group">
        <button class="icon-button">📄</button>
        <input type="text" placeholder="Tiêu đề" />
      </div>

      <div class="form-group">
        <textarea placeholder="Nội dung"></textarea>
      </div>

      <button class="submit-button">Gửi</button>
    </div>
  </div>
</div>
