<div class="student-add-new-form">
  <h3>Edit User</h3>
  <form [formGroup]="newStudentForm" id="student-add-new-form">
    <div class="form-row">
      <div class="thong-tin-student form-col">
        <h3>Học sinh mới</h3>

        <label for="hoTen">Họ tên:</label>
        <input type="text" id="hoTen" formControlName="hoTen">

        <label for="gioiTinh">Giới tính:</label>
        <select id="gioiTinh" class="gioiTinh" formControlName="gioiTinh">
          <option [value]="FEMALE_GENDER">Nữ</option>
          <option [value]="MALE_GENDER">Nam</option>
        </select>

        <label for="ngaySinh">Ngày sinh:</label>
        <input type="date" id="ngaySinh" formControlName="ngaySinh">

        <label for="anh">Ảnh:</label>
        <input id="anh" type="file" #filePicker (change)="onImagePicked($event)">
        <div style="display: flex; margin-bottom: 10px;" *ngIf="anhHocSinhUploaded">
          <button class="cancel-upload-anh-btn" (click)="cancelUploadAnh()">
            <span>Không upload ảnh nữa</span>
          </button>
        </div>

        <img [src]="anhHocSinhPreview" *ngIf="anhHocSinhPreview" />
      </div>
    </div>
    <div class="form-actions">
      <button class="confirm-button" (click)="save()">Lưu</button>
      <button class="cancel-button" (click)="close()">Hủy</button>
    </div>
  </form>
</div>