/* You can add global styles to this file, and also import other style files */
:root {
    --dark-primary-background-color: #242526;
    --dark-primary-text-color: #b0b3b8;
    --primary-background-color: #cedffc;
    --primary-text-color: #242526;
}