<div class="relative select-none" (mouseleave)="onMouseLeave()">
  <div class="cursor-pointer text-2xl p-2" (click)="toggleSidebar()" (mouseenter)="onMouseEnter()">
    ☰ <!-- Biểu tượng sidebar -->
  </div>

  <div *ngIf="isOpen" class="absolute left-0 top-10 w-48 bg-white border border-gray-300 shadow-lg z-10 lg:hidden">
    <h2 class="text-lg font-bold p-2">Sidebar Menu</h2>
    <ul class="list-none p-0 m-0">
      <li *ngFor="let item of sideBarItems"
        [ngClass]="{'p-2 cursor-pointer border-b border-gray-300':true, 'bg-blue-500':item.active}"
        (click)="handleClickItem(item)">
        {{item.name}}
      </li>
    </ul>
  </div>

  <div *ngIf="!this.isClosed" class="bg-inherit border shadow-lg hidden lg:!flex flex-col">
    <ul class="list-none p-0 m-0">
      <li *ngFor="let item of sideBarItems"
        [ngClass]="{'py-3 px-8 cursor-pointer border-b border-gray-300 select-none':true, 'bg-blue-500':item.active}"
        (click)="handleClickItem(item)">
        {{item.name}}
      </li>
    </ul>
  </div>
</div>
